html,
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 243, 243);
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

h2,
p {
  margin: 0;
}
.container-live {
  height: auto;
  width: 300px;
  border-radius: 0.5rem;
  background-color: white;
}
.text-top {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #3e57db;
  height: 140px;
  padding: 1.2rem;
}
.text-top h2 {
  margin: 0.5rem;
  margin-left: 0;
  color: white;
  font-size: 1rem;
}
.text-top p {
  font-size: 0.8rem;
  color: rgb(230, 228, 228);
}
.text-top input {
  margin: 1rem;
  margin-left: 0;
  padding: 1.1rem;
  width: 260px;
  height: 30px;
  border: 0;
  font-size: 0.95rem;
  outline: 0;
  border-radius: 2rem 2rem 2rem 2rem;
  background-color: #203392;
  color: white;
}
.result {
  overflow-y: scroll;
  overflow-x: hidden;
  height: auto;
  max-height: 410px;
  scroll-behavior: smooth;
}
.logo-user {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.li-user {
  list-style: none;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 0.7rem;
}
li {
  border-bottom: 1px solid rgb(179, 177, 177);
}
.name-user {
  margin-bottom: 0.6rem;
  font-weight: bold;
}
.city-user {
  font-size: 0.8rem;
}
.hide {
  display: none;
}
