body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 200px;
}
#hours {
  font-size: 54px;
  text-align: center;
}
#clock {
  height: 200px;
  width: 200px;
  position: relative;
}
#data {
  text-align: center;
}
.needle {
  background-color: black;
  width: 3px;
  height: 50px;
  transform-origin: bottom center;
  position: absolute;
  left: 50%;
  top: 50%;
}
.centerPoint {
  background-color: rgb(5, 5, 5);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 48%;
  top: 48%;
  z-index: 3;
}
.needleHours {
  height: 40px;
  transform: translate(-50%, -100%) rotate(196.364deg);
  background-color: black;
}
.needleSeconds {
  transform: translate(-50%, -100%) rotate(123.364deg);
  height: 60px;
  background-color: rgb(78, 74, 74);
}
.needleMinuts {
  transform: translate(-50%, -100%) rotate(96.364deg);
  height: 100px;
  background-color: rgb(252, 168, 72);
}
