html,
body,
section {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
}
div h3 {
  margin: 1rem;
  margin-bottom: 0;
}
.fas:before {
  content: "\2665";
  color: red;
}
.likedIt {
  margin: 0.8rem;
  margin-top: 0.2rem;
  text-align: center;
  display: block;
}
.img-hero {
  position: relative;
}
.heart {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}
.heart::before {
  position: absolute;
  content: "\2665";
  font-size: 2rem;
  animation: grow 0.6s linear;
  color: red;
  transform: translate(-50%, -50%) scale(0);
  left: 50%;
  top: 50%;
}
@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
.img-hero {
  background-image: url("https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  width: 300px;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
